body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;   /* light grey background */
    margin:0;
}

/* ===== HEADER ===== */
header{
    background:#c40000;   /* RED */
    color:white;
    padding:15px;
    text-align:center;
}

/* ===== PRODUCT GRID ===== */
.container{
    width:85%;
    margin:30px auto;
    display:block;   /* remove flex */
}

.product-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:20px;
}

/* ===== CARD STYLE ===== */
.card{
    background:#ffffff;
    border-radius:10px;
    padding:15px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* ===== PRODUCT IMAGE ===== */
.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:8px;
}

/* ===== TEXT ===== */
.card h3{
    color:#333;  /* dark grey */
}

.price{
    color:#c40000; /* RED price */
    font-size:18px;
    font-weight:bold;
}

/* ===== BUTTON ===== */
.btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#c40000;   /* RED button */
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#8b0000;   /* darker red */
}
